.main {
  /* margin-top: 45px; */
  margin: auto;
  width: 95vw;
}
.banner {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 45px auto;
}
.banner_text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 145px;
}
.banner_text p {
  margin: 25px 0px;
}
.banner-text-hdr {
  font-size: 45px;
}
.services {
  border: 0;
  outline: 0;
  background-color: #2f5be7;
  height: 35px;
  width: 130px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.banner_img {
  flex: 1;
}
.banner_img > img {
  width: 100%;
}
.vision-mission-values-ctr {
  width: 75%;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.vision-mission-values {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 250px;
  border-radius: 5px;
  flex: 1;
  box-shadow: 0px 0px 15px #d9d9d9;
  padding: 25px;
}
.vision-mission-values > i {
  font-size: 36px;
  color: #28a745;
}
.vision-mission-values-hdr {
  font-size: 24px;
  font-weight: 600;
  color: red;
  margin: 15px 0px;
}
.mission p {
  color: #3872bd;
}
.vision {
  margin-right: 45px;
}
.vision p {
  color: #3872bd;
}
.core-values {
  margin-left: 45px;
}

.core-values ul {
  color: #3872bd;
  margin-left: 20px;
}

.core-values ul li {
  margin-bottom: 5px;
}

/*why us*/
.why-us {
  width: 75%;
  margin: 150px auto;
}
.why-us-hdr {
  text-align: center;
  font-size: 35px;
}
.why-us-li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0px;
}
.why-us-li > li {
  margin: 0px 50px;
}
/*why us*/

/*Products*/
.product-ctr {
  width: 75%;
  margin: 75px auto;
}
.product-hdr {
  text-align: center;
}
.product-hdr > .product-hdr-main {
  font-size: 35px;
  font-weight: 500;
  padding: 10px 0px;
}
.product-hdr > .product-hdr-caption {
  margin: 15px 0px;
}
.product {
  margin: 120px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-content {
  flex: 1;
}
.product-content > img {
  width: 75%;
  border-radius: 5px;
}
.product-content-hospitalplus > div:nth-child(2) {
  margin: 20px 0px;
}
.product-content-hospitalplus > div:nth-child(1) > span:nth-child(1) {
  font-size: 32px;
}

/* customer-quote-message-ctr */
.customer-quote {
  width: 75%;
  margin: 25px auto;
}
.customer-quote-ctr {
  display: flex;
  padding: 50px 0px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  background: #fff;
}
.customer-quote-up {
  color: darkblue;
  font-size: 20px;
}
.customer-quote-down {
  padding: 15px 0px;
  color: #28a745;
  font-size: 22px;
}
.customer-quote-down span {
  color: red;
  text-transform: uppercase;
  font-weight: 700;
}
.customer-quote-hdr {
  padding: 25px 0px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #28a745;
  background-color: #fff;
  border-bottom: 2px solid red;
}
/*customer-quote-message-ctr */

@media only screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    width: 95%;
  }
  .why-us {
    /* width: 95%; */
  }
  .why-us-li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
    flex-direction: column;
  }
  .why-us-li > li {
    margin: 15px 0px;
  }
  .customer-quote {
    width: 95%;
  }
  .customer-quote-ctr {
    flex-direction: column;
    align-items: center;
  }
  .product-ctr {
    width: 95%;
  }
  .product {
    margin: 45px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .product > div {
    margin: 35px;
  }
  .banner_text {
    text-align: center;
    padding-right: 0px;
    margin-bottom: 50px;
  }
  .vision-mission-values-ctr {
    width: 95%;
    flex-direction: column;
  }
  .vision-mission-values {
    margin: 20px 0px !important;
    width: 100%;
  }
}
