.main {
  margin-top: 45px;
  width: 100vw;
}
.banner {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}
.banner_text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 145px;
}
.services {
  border: 0;
  outline: 0;
  background-color: #2f5be7;
  height: 35px;
  width: 130px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.banner_img {
  flex: 1;
}
.banner_img > img {
  width: 100%;
}

.service_shadow {
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
