.main {
  /* margin-top: 45px; */
  margin: auto;
  width: 95vw;
}
.banner {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 45px auto;
}
.banner_text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 145px;
}
.services {
  border: 0;
  outline: 0;
  background-color: #2f5be7;
  height: 35px;
  width: 130px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.banner_img {
  flex: 1;
}
.banner_img > img {
  width: 100%;
}
.vision-mission-values-ctr {
  width: 75%;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.vision-mission-values {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #d9d9d9;
  padding: 25px;
}
.vision-mission-values > i {
  font-size: 36px;
}
.vision-mission-values > div {
  font-size: 24px;
  font-weight: 600;
}
.vision {
  margin-right: 45px;
}
.core-values {
  margin-left: 45px;
}

/*why us*/
.why-us {
  width: 75%;
  margin: 150px auto;
}
.why-us-hdr {
  text-align: center;
  font-size: 35px;
}
.why-us-li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0px;
}
.why-us-li > li {
  margin: 0px 50px;
}
/*why us*/

/*Products*/
.product-ctr {
  margin: 75px 0px;
}
.product-hdr {
  text-align: center;
}
.product-hdr > .product-hdr-main {
  font-size: 35px;
  font-weight: 500;
}
.product-hdr > .product-hdr-caption {
  margin: 15px 0px;
}
.product {
  display: flex;
  justify-content: space-between;
}
/*Products*/
