.header {
  width: 100vw;
  margin: auto;
  max-width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header > nav {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_image {
  width: 100px;
  height: 75px;
  object-fit: contain;
}
.logo {
  flex: 1;
  padding-top: 10px;
}
.nav_links {
  flex: 0.5;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.nav_link.contact-us {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  background-color: #2f5be7;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  color: white;
}
.nav_link {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.8;
}
.toggle-menu {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .nav_links {
    flex: 2;
  }
}
@media only screen and (max-width: 768px) {
  .nav_links {
    display: none;
  }
  .toggle-menu {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f5be7;
    color: #fff;
    padding: 0.4rem;
    padding-top: 0.4rem;
    margin-right: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* text-align: center; */
  }
  .header > nav {
    width: 95%;
  }
}

/* @media screen and (max-width: 1024px) {
  .nav-links {
    display: none;
  }
} */
