/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --main-color: #4671ff;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: "Ubuntu", sans-serifs; */
  font-family: "Roboto", sans-serif;
}
